<div class="contextMenu generalMenu animated zoomIn">
	<div class="row">
		<div class="col-lg-12" data-toggle="modal" data-target="#newFolder">New Folder</div>
		<div class="col-lg-12" data-toggle="modal" data-target="#newFile">New File</div>
		<div class="col-lg-12" data-toggle="modal" data-target="#uploadFile">Upload File</div>
		<div class="col-lg-12" data-toggle="modal" data-target="#youtube">Youtube Downloader</div>
	</div>
</div>

<div class="contextMenu folderMenu animated zoomIn">
	<div class="row">
		<div class="col-lg-12 renFolderNav" data-toggle="modal" data-target="#renameFolder">Rename Folder</div>
		<div class="col-lg-12 delFolderNav" data-toggle="modal" data-target="#delFolder">Delete Folder</div>
	</div>
</div>

<div class="contextMenu fileMenu animated zoomIn">
	<div class="row">
		<div class="col-lg-12 renFileNav" data-toggle="modal" data-target="#renameFile">Rename File</div>
		<div class="col-lg-12 delFileNav" data-toggle="modal" data-target="#delFile">Delete File</div>
	</div>
</div>